<%-include('../layouts/header')-%>

  <section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">

              <div class="mb-md-5 mt-md-4 pb-5">

                <h2 class="fw-bold mb-5 ">ADMIN > Signup</h2>

                <% if(typeof message !=='undefined' ){ %>
                  <h5 class="text-center m-4 text-danger">
                    <%= message %>
                  </h5>

                  <% } %>
                    <form action="" method="post">
                      <div class="form-outline form-white mb-4">
                        <label class="form-label" for="typeEmailX">Name</label>
                        <input type="text" name="name" id="typeEmailX" class="form-control form-control-lg" />
                      </div>

                      <div class="form-outline form-white mb-4">
                        <label class="form-label" for="typeEmailX">Email</label>
                        <input type="e" name="email" id="typeEmailX" class="form-control form-control-lg" />
                      </div>

                      <div class="form-outline form-white mb-4">
                        <label class="form-label" for="typePasswordX">Password</label>
                        <input type="password" id="typePasswordX" name="password"
                          class="form-control form-control-lg" />
                      </div>

                      <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                    </form>

              </div>

              <div>
                <p class="mb-0">You have an account? <a href="/admin/login" class="text-white-50 fw-bold">Sign in</a>
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <%-include('../layouts/footer')-%>