<%-include('../layouts/header')-%>

   <div class="container-fluid vh-100" style="background-color: #9A616D;">
    <button class="btn btn-info"><a style="text-decoration: none;color: aliceblue;"
        href="/logout">Logout</a></button>
    <h1 class="text-white text-center">Welcome Home</h1>

   <h3 class="text-center"><%= user.name %></h3> 



   </div>
    
        <%-include('../layouts/footer')-%>