<%-include('../layouts/header')-%>

  <section class="vh-97" style="background-color: #9A616D;">
    <div class="container py-5 h-97">
      <div class="row d-flex justify-content-center align-items-center h-97">
        <div class="col col-xl-6">
          <div class="card" style="border-radius: 1rem;">
              <div class="col-md-6 col-lg-12 d-flex align-items-center">
                <div class="card-body p-4 p-lg-7 text-black">
  
                  <form method="post" class="form">
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                      <span class="h1 fw-bold mb-0">Sign up</span>
                    </div>

                    <% if(typeof message !== 'undefined'){ %>

                      <h5 class="text-danger"><%= message %></h5>

                      <%  } %>

                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Create your account</h5>
  
                    <div class="form-outline mb-4">
                      <h6 class="text-danger" id="error"></h6>
                      <input type="text" id="signName" name="name" class="form-control form-control-lg" />
                      <label class="form-label" for="form2Example17">Name</label>
                    </div>

                    <div class="form-outline mb-4">
                      <input type="" id="form2Example17" name="email" class="form-control form-control-lg" />
                      <label class="form-label" for="form2Example17">Email address</label>
                    </div>

                    <div class="form-outline mb-4">
                      <input type="password" id="form2Example17" name="password" class="form-control form-control-lg" />
                      <label class="form-label" for="form2Example17">Password<label>
                    </div>
                    <div class="form-outline mb-4">
                      <input type="number" id="signPhone" name="phone" class="form-control form-control-lg" />
                      <label class="form-label" for="form2Example17">Phone</label>
                    </div>
  
  
                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark btn-lg btn-block" type="submit" >Sign up</button>
                    </div>
  
                    <p class="mb-5 pb-lg-2" style="color: #393f81;">You have an account? <a href="/login"
                        style="color: #393f81;">Login here</a></p>
                  </form>
  
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>


    
  <%-include('../layouts/footer')-%>

